knora/kwa-data/import/pCAFE-kwa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema vc:minVersion="1.0" targetNamespace="http://api.knora.org/ontology/CAFE/kwa/xml-import/v1#" elementFormDefault="qualified" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:knoraXmlImport="http://api.knora.org/ontology/knoraXmlImport/v1#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://api.knora.org/ontology/CAFE/kwa/xml-import/v1#">
    <xs:import schemaLocation="knoraXmlImport.xsd" namespace="http://api.knora.org/ontology/knoraXmlImport/v1#"/>
    <xs:element name="Book">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasDescription"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasImprintedDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasKWAPageNo"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasKWAVolume"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasKwaId"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasName"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasNumber"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="1" name="hasPublicationDate"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="1" name="hasReleaseDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasSignature"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasSubtitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasTitle"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="1" name="includeInKWAe"/>
                        <xs:element type="Repository_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isKeptAt"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Book_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Book"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DatingHint">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="1" name="hasDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasDateBefund"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasDescription"/>
                        <xs:element type="knoraXmlImport:Resource_linkValueType" maxOccurs="unbounded" minOccurs="1" name="isDatingHintFor"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="DatingHint_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="DatingHint"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Magazine">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasDescription"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasNumber"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasShortCode"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasSubtitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasTitle"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Magazine_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Magazine"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="MagazineIssue">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasDescription"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasImprintedDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasKWAPageNo"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasKWAVolume"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasKwaId"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasName"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasNumber"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="1" name="hasPublicationDate"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="1" name="hasReleaseDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasSignature"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasSubtitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasTitle"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="1" name="includeInKWAe"/>
                        <xs:element type="Magazine_linkValueType" maxOccurs="1" minOccurs="1" name="isIssueOfMagazine"/>
                        <xs:element type="Repository_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isKeptAt"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="MagazineIssue_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="MagazineIssue"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Manuscript">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasDescription"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasKWAPageNo"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasKWAVolume"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasKwaId"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasName"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="0" name="hasPreferredSortDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasSignature"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="1" name="includeInKWAe"/>
                        <xs:element type="Repository_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isKeptAt"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Manuscript_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Manuscript"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Microgram">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasDescription"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasKWAPageNo"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasKWAVolume"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasKwaId"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasName"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="0" name="hasPreferredSortDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasSignature"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="1" name="includeInKWAe"/>
                        <xs:element type="Repository_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isKeptAt"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Microgram_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Microgram"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Newspaper">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasDescription"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasNumber"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasShortCode"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasSubtitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasTitle"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Newspaper_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Newspaper"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="NewspaperIssue">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasDescription"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasImprintedDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasKWAPageNo"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasKWAVolume"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasKwaId"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasName"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasNumber"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="1" name="hasPublicationDate"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="1" name="hasReleaseDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasSignature"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasSubtitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasTitle"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="1" name="includeInKWAe"/>
                        <xs:element type="Newspaper_linkValueType" maxOccurs="1" minOccurs="1" name="isIssueOfNewspaper"/>
                        <xs:element type="Repository_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isKeptAt"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="NewspaperIssue_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="NewspaperIssue"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Periodical">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasDescription"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasNumber"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasShortCode"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasSubtitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasTitle"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Periodical_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Periodical"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PeriodicalIssue">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasDescription"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasImprintedDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasKWAPageNo"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasKWAVolume"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasKwaId"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasName"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasNumber"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="1" name="hasPublicationDate"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="1" name="hasReleaseDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasSignature"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasSubtitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasTitle"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="1" name="includeInKWAe"/>
                        <xs:element type="Periodical_linkValueType" maxOccurs="1" minOccurs="1" name="isIssueOf"/>
                        <xs:element type="Repository_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isKeptAt"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="PeriodicalIssue_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="PeriodicalIssue"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Person">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasAcademicTitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasAlias"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="0" name="hasBirthdate"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="0" name="hasDeathDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasDescription"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasFamilyName"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasGivenName"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Person_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Person"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PrintedPublicationTextcarrier">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasDescription"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasImprintedDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasKWAPageNo"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasKWAVolume"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasKwaId"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasName"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasNumber"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="1" name="hasPublicationDate"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="1" name="hasReleaseDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasSignature"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasSubtitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasTitle"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="1" name="includeInKWAe"/>
                        <xs:element type="Repository_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isKeptAt"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="PrintedPublicationTextcarrier_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="PrintedPublicationTextcarrier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Publication">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasDescription"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasNumber"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasSubtitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasTitle"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Publication_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Publication"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Repository">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasName"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasShortCode"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Repository_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Repository"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="StandoffResource">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:intValueType" maxOccurs="1" minOccurs="1" name="standoffResourceEndIndex"/>
                        <xs:element type="knoraXmlImport:intValueType" maxOccurs="1" minOccurs="1" name="standoffResourceStartIndex"/>
                        <xs:element type="TextResource_linkValueType" maxOccurs="1" minOccurs="1" name="standoffResourceTextResourceReference"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="StandoffResource_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="StandoffResource"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Surface">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="image-copyright"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="image-description"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="image-name"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="page_no"/>
                        <xs:element type="Textcarrier_linkValueType" maxOccurs="1" minOccurs="1" name="part-of-textcarrier"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="surface-name"/>
                        <xs:element type="knoraXmlImport:intValueType" maxOccurs="1" minOccurs="1" name="surface-sequence-no"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="transcription-name"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Surface_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Surface"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TextResource">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="textresource-fulltext"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="TextResource_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="TextResource"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Textcarrier">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="unbounded" minOccurs="0" name="hasDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasDescription"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasKWAPageNo"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasKWAVolume"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasKwaId"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasName"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasSignature"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="1" name="includeInKWAe"/>
                        <xs:element type="Repository_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isKeptAt"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Textcarrier_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Textcarrier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="column">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:intValueType" maxOccurs="1" minOccurs="1" name="notation-sequence-no"/>
                        <xs:element type="Surface_linkValueType" maxOccurs="1" minOccurs="1" name="on-surface"/>
                        <xs:element type="knoraXmlImport:intValueType" maxOccurs="1" minOccurs="1" name="on-surface-sequence-no"/>
                        <xs:element type="knoraXmlImport:intValueType" maxOccurs="1" minOccurs="1" name="standoffResourceEndIndex"/>
                        <xs:element type="knoraXmlImport:intValueType" maxOccurs="1" minOccurs="1" name="standoffResourceStartIndex"/>
                        <xs:element type="TextResource_linkValueType" maxOccurs="1" minOccurs="1" name="standoffResourceTextResourceReference"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="surface-notation-no"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="column_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="column"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="textconcept">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasKwaConceptId"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasTitle"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="textconcept_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="textconcept"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="textexpression">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasIncipit"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasKWAPageNo"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasKWAVolume"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasKwaExpressionId"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasTitle"/>
                        <xs:element type="textconcept_linkValueType" maxOccurs="unbounded" minOccurs="0" name="is-textconcept-instance"/>
                        <xs:element type="knoraXmlImport:intValueType" maxOccurs="1" minOccurs="1" name="standoffResourceEndIndex"/>
                        <xs:element type="knoraXmlImport:intValueType" maxOccurs="1" minOccurs="1" name="standoffResourceStartIndex"/>
                        <xs:element type="TextResource_linkValueType" maxOccurs="1" minOccurs="1" name="standoffResourceTextResourceReference"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="textexpression_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="textexpression"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="textmanifest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasKWAPageNo"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasKWAVolume"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasKwaManifestId"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasTitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="textresource-fulltext"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="textmanifest_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="textmanifest"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
